body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    /* Apply blur effect */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

.code-display {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 15px;
}

.pricing-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.pricing-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .logo {
        width: 120px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .pricing-button {
        font-size: 0.9em;
    }
}